# Задание для DS по разработке LGD модели

### Импортируем библиотеки

In [4]:
import pandas as pd

### Подгружаем данные

In [1]:
!wget https://raw.githubusercontent.com/BKHV/ds-test/master/data/LGD-data.csv

/bin/sh: wget: command not found

In [7]:
df = pd.read_csv('data/LGD-data.csv', sep=',')

Размер выборки

In [10]:
print(df.shape)

(15290, 7)

In [11]:
df.head(5)

,Ac_No,Age,Years of Experience,Number of Vehicles,Gender,Married,loss
0,150024,24,5,1,M,Married,203.319595
1,144880,31,10,1,F,Single,402.197302
2,133742,56,37,1,M,Married,553.132096
3,151282,52,31,1,F,Married,292.430579
4,174407,20,3,1,M,Single,246.540576