# Задание для DS по разработке PD модели

## Необходиом разработать модель предсказания дефолта. Даны финансовые данные юридических лиц (выручка, активы, пассивы и т.д).

### Импортируем библиотеки

In [1]:
import pandas as pd
from sklearn.metrics import f1_score
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

### Подгружаем данные

In [2]:
!wget https://raw.githubusercontent.com/BKHV/ds-test/master/PD-data-train.csv
!wget https://raw.githubusercontent.com/BKHV/ds-test/master/PD-data-test.csv

--2020-08-31 10:13:56--  https://raw.githubusercontent.com/BKHV/ds-test/master/PD-data-train.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5296871 (5.1M) [text/plain]
Saving to: ‘PD-data-train.csv.4’

PD-data-train.csv.4 100%[===================>]   5.05M  13.9MB/s    in 0.4s

2020-08-31 10:13:57 (13.9 MB/s) - ‘PD-data-train.csv.4’ saved [5296871/5296871]

--2020-08-31 10:13:57--  https://raw.githubusercontent.com/BKHV/ds-test/master/PD-data-test.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 28469 (28K) [text/plain]
Saving to: ‘PD-data-test.csv.5’

PD-data-test.csv.5  100%[===================>]  27.80K  --.-KB/s    in 0.01s

2020-08-31 10:13:57 (2.18 MB/s) - ‘PD-data-test.csv.5’ saved [28469/28469]

In [3]:
train_df = pd.read_csv('PD-data-train.csv', sep=',')
test_df = pd.read_csv('PD-data-test.csv', sep=',')

Семплы и размеры выборок

In [4]:
train_df.head()

   record_id  ar_revenue  ...  ul_systematizing_flg  default_12m
0          7  52996000.0  ...                     0            0
1         13         NaN  ...                     0            0
2         18         NaN  ...                     0            0
3         22  32049000.0  ...                     0            0
4         23  16458000.0  ...                     0            0

[5 rows x 37 columns]

In [5]:
train_df.shape

(32395, 37)

In [6]:
test_df.head()

   record_id   ar_revenue  ...  ul_systematizing_flg  default_12m
0        196   39103000.0  ...                     0            1
1       1196          NaN  ...                     0            0
2       2813   54174000.0  ...                     0            1
3       4385    1904000.0  ...                     0            0
4       6479  225584000.0  ...                     0            0

[5 rows x 37 columns]

In [7]:
test_df.shape

(200, 37)

Количество разных типов фичей

In [8]:
train_df.dtypes.value_counts()

float64    25
int64      11
object      1
dtype: int64

Уровень дефолт-рейта в выборке = 6,7219%

In [9]:
train_df['default_12m'].values.mean()

0.06454699799351751

In [10]:
train_df.record_id.nunique()

32395

32395 уникальных наблюдений

### Строим бэйзлайн модель c 3-ми фичами

In [11]:
features = ['bus_age','ul_capital_sum', 'ul_founders_cnt']

In [12]:
features_df = train_df.loc[:,features]
features_df['default_12m'] = train_df['default_12m']

In [13]:
features_df.head()

   bus_age  ul_capital_sum  ul_founders_cnt  default_12m
0      198         50000.0                2            0
1      256         10000.0                5            0
2       33         10000.0                2            0
3      185        300000.0                1            0
4      220         10000.0                2            0

### Построим карту коллеряций

In [14]:
features_df.corr()

                  bus_age  ul_capital_sum  ul_founders_cnt  default_12m
bus_age          1.000000        0.066929         0.209451    -0.109389
ul_capital_sum   0.066929        1.000000         0.029165    -0.019452
ul_founders_cnt  0.209451        0.029165         1.000000    -0.023244
default_12m     -0.109389       -0.019452        -0.023244     1.000000

### Валидация результата

In [15]:
X_train, X_test, y_train, y_test = train_test_split(features_df.drop('default_12m',axis=1),
                                                    features_df['default_12m'],
                                                    random_state=42, shuffle=True)

logit = LogisticRegression(C=1,solver='lbfgs',max_iter=1000)
cv_baseline = cross_val_score(logit, X_train, y_train, cv=5, scoring='roc_auc').mean()
cv_baseline

0.6483643068016243

ROC/AUC бэйзлайн модели - 64,83%

### Построение модели на всех данных

In [16]:
logit.fit(features_df.drop('default_12m',axis=1), features_df['default_12m'])

LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

### Формирование файла с ответом

In [17]:
answ_df = test_df[['record_id']]

In [18]:
answ_df['id'] = answ_df['record_id']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:

answ_df.drop('record_id',axis=1, inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [20]:
cutoff = y_train.mean()

In [21]:
answ_df['predict'] = (logit.predict_proba(test_df.loc[:,features])[:,1]>cutoff).astype(int)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [22]:
answ_df.to_csv('prediction_classes.csv',index=False, sep=';')

Для загрузки своего рузультата на https://dsbattle.com/hackathons/juniords/ вам нужно создать csv файл с двумя колонками (id, predict), разделитель - точка с запятой (;)