# Задание для DS по разработке LGD модели

### Импортируем библиотеки

In [1]:
import pandas as pd

### Подгружаем данные

In [2]:
!wget https://raw.githubusercontent.com/BKHV/ds-test/master/LGD-data.csv

/bin/sh: wget: command not found

In [6]:
df = pd.read_csv('LGD-data.csv', sep=';')

Размер выборки

In [7]:
print(df.shape)

(3047, 53)

In [8]:
df.head(5)

,symbol,name,issue_date,EPS,QuoteLast,Price200DayAverage,Price52WeekPercChange,PriceToBook,MarketCap,PE,...,OperatingMargin,NetProfitMarginPercent,NetIncomeGrowthRate5Years,RevenueGrowthRate5Years,RevenueGrowthRate10Years,EPSGrowthRate5Years,EPSGrowthRate10Years,Volume,AverageVolume,LGD
0,1AD,Adalta Ltd,31/10/2015,0,"0,25",0,0,0,18720000,0,...,0,0,0,0,0,0,0,0,50513,"0,932171"
1,1AG,Alterra Ltd,31/12/2015,0,"0,03","0,05","78,62","0,34",4270000,0,...,"9,77","6,3",0,0,0,0,0,229789,106383,"0,92142"
2,1AL,Oneall International Ltd,31/07/2010,"0,09","0,99","0,97","1,5","5,66",127070000,"10,81",...,"27,36","22,56",0,0,0,0,0,14300,9904,"0,996325"
3,1PG,1-Page Ltd,29/02/2012,"0,13","0,19","0,38","94,31","0,45",29300000,0,...,"1486,59","1519,24",0,0,0,0,0,415620,1450000,"0,979607"
4,1ST,1st Group Ltd,31/10/2012,"0,06","0,05","0,06","14,15","0,92",10530000,0,...,"281,56","252,4",0,0,0,0,0,100000,36233,"0,71973"